/* CROP */
#carrier {
    text-align: justify;
    background-color: white;
    background: white url("/ps-addon/images/background-right.png") right top repeat-y scroll;
}

/* Crop */
.container {
    float: left;
    width: 640px;
    text-align: center;
    padding-left: 36px;
    padding-bottom: 30px;
}

.container .top-buttons {
    display: none;
    margin: 20px 0px;
    font-size: 16px;
}

input#choose-file {
    display: none;
}

.choose-file-label, .choose-file-label .ui-button-text {
    border-radius: 5px 5px 5px 5px !important;
}

.container .progress {
    display: none;
    margin: 20px 0px;
}

.container .info_box {
    display: none;
    font-weight: bold;
}

.container .crop-editor {
    margin: 15px 0px;
    display: none;
    min-height: 100px;
}

.hint--joy:after {
    background-color: #D58118 !important;
    text-shadow: 0 -1px 0px #1a321a; }
.hint--joy.hint--top:before {
    border-top-color: #D58118 !important; }

.hint--sadness:after {
    /*#368AD2*/
    background-color: #2488e0 !important;
    text-shadow: 0 -1px 0px #1a321a; }
.hint--sadness.hint--top:before {
    border-top-color: #2488e0 !important; }

.hint--anger:after {
    background-color: #b34e4d !important;
    text-shadow: 0 -1px 0px #1a321a; }
.hint--anger.hint--top:before {
    border-top-color: #b34e4d !important; }

.hint--fear:after {
    background-color: #C34BBD !important;
    text-shadow: 0 -1px 0px #1a321a; }
.hint--fear.hint--top:before {
    border-top-color: #C34BBD !important; }



/*
.container .emotions img {
    margin: 0px 2px;
    padding: 3px;
    display: inline-block;
    border: 2px solid transparent;
    width: 88px;
}

.container .emotions img.joy:hover {
    border-color: #CBCB01;
}

.container .emotions img.sadness:hover {
    border-color: #12AFEF;
}

.container .emotions img.anger:hover {
    border-color: red;
}

.container .emotions img.fear:hover {
    border-color: #C34BBD;
}

.container .emotions img.disgust:hover {
    border-color: #56D100;
}

.container .emotions img.bingbong:hover {
    border-color: #F995B6;
}
*/

.container .emotions {
    display: none;
    margin: 20px 0px 15px;
}

.container .emotions span {
    display: inline-block;
    width: 88px;
    height: 88px;
    background-image: url('/i/emotions/sprite.png');
    background-repeat: no-repeat; 
    margin: 0px 6px;
    opacity: 0.5;
}

.container .emotions span:active {
    position: relative;
    top: 1px;
}

.container .emotions span:hover,
.container .emotions span.active {
    opacity: 1;
}

/*
.container .emotions div {
    width: 88px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin: 0px 16px;
}

.container .emotions div span {
    margin: 0px;
}

.container .emotions div.joy {
    color: #CBCB01;
}

.container .emotions div.sadness {
    color: #12AFEF;
}

.container .emotions div.anger {
    color: red;
}

.container .emotions div.fear {
    color: #C34BBD;
}

.container .emotions div.disgust {
    color: #56D100;
}

.container .emotions div.bingbong {
    color: #F995B6;
}
*/
.container .emotions span.joy {
    background-position: 0px -88px;
}

.container .emotions span.joy:hover,
.container .emotions span.joy.active {
    background-position: 0px 0px;
}

.container .emotions span.sadness {
    background-position: -88px -88px;
}

.container .emotions span.sadness:hover,
.container .emotions span.sadness.active {
    background-position: -88px 0px;
}

.container .emotions span.anger {
    background-position: -176px -88px;
}

.container .emotions span.anger:hover,
.container .emotions span.anger.active {
    background-position: -176px 0px;
}

.container .emotions span.fear {
    background-position: -264px -88px;
}

.container .emotions span.fear:hover,
.container .emotions span.fear.active {
    background-position: -264px 0px;
}

.container .emotions span.disgust {
    background-position: -352px -88px;
}

.container .emotions span.disgust:hover,
.container .emotions span.disgust.active {
    background-position: -352px 0px;
}

.container .emotions span.bingbong {
    background-position: -440px -88px;
}

.container .emotions span.bingbong:hover,
.container .emotions span.bingbong.active {
    background-position: -440px 0px;
}

.container .bottom-buttons {
    margin: 20px 0px;
    font-size: 14px;
    display: none;
    height: 78px;
}

.container .bottom-buttons button {
    margin-top: 24px;
}

.container #google-recaptcha {
    display: none;
    margin: 20px 0px;
    text-align: center;
}

.container #google-recaptcha>div>div {
    margin: 0px auto;
}

.container .cell-added {
    display: none;
    text-align: left;
}

.container .cell-added h3 {
    text-align: center;
}

.container .cell-added p {
    text-align: justify;
}

.container .cell-added a.goto-wall {
    display: block;
    padding: 10px;
    text-align: center;
    color: #444;
    font-weight: bold;
    text-decoration: none;
    background-color: #eee;
    margin: 20px;
}

.container .cell-added a.goto-wall:hover {
    color: black;
}

.container .cell-added a.goto-wall:active {
    position: relative;
    top: 1px;
}

.crop-preview {
    overflow:hidden;
}

.crop-email {
    display: none;
    text-align: left;
    margin: 15px 0px;
}

.crop-email input {
    width: 40%;
}

.crop-email span.hint {
    cursor: help;
    margin-left: 5px;
}

.crop-text {
    margin: 15px 0px;
    display: none;
}

.crop-text .crop-preview {
    width: 60px;
    height: 60px;
    float: left;
}

.crop-text .crop-textarea-holder {
    text-align: left;
    /*margin-left: 70px;*/
}

.crop-text textarea {
    font-size: 14px;
    padding: 5px;
}

/*
.crop-text textarea.required {
    border-color: red;
}
*/

/* Правое меню */
.crop-menu {
    float: right;
    text-align: left;
    width: 240px;
    background-color: #F5F5F5;
    padding: 10px;
    visibility: hidden;
}

.crop-menu .crop-preview {
    width: 240px;
    height: 240px;
    margin: 15px 0px;
}

#PresetFilters {
    clear: both;
}

/* Блоки кнопок */
.btn-box a {
    border-radius: 3px;
    /*
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    */
    background-color: #4B9FE7;
    display: block;
    float: left;
    text-align: center;
    padding: 4px 5px;
    color: #f8f8f2;
    margin: 5px;
    border: none;
    font-size: 13px;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
}

.btn-box a:not(.disabled):hover {
    background-color: #368ad2;
}

.btn-box a:not(.disabled):active {
    background-color: #337AB7;
}

.btn-box a.active {
    background-color: #e69751 !important;
}

.btn-box a.disabled {
    opacity: 0.3;
    cursor: default;
}

.btn-group {
    margin: 5px;
    margin-right: 0px;
    display: inline-block;
    vertical-align: middle;
}

.btn-group > a:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group > a:not(:last-child) {
    border-right: 1px solid #368ad2;
}

.btn-group > a:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group a {
    width: 44px;
    margin: 0px;
}

.btn-box.transform {
    margin-bottom: 10px;
}

/*
.crop-grid {
    background: url(/ps-content/images/bg/crop-bg3.png) left top no-repeat;
    width: 240px;
    height: 240px;
}
*/

.crop-menu .crop-grid .crop-preview {
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 0px;
}