html, body {
    text-align: center;
}

body {
    background-color: #F0F0F0;
    color: #333333;
    margin: 0px;
    min-width: 1080px; /*960+60*2*/
}

body, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

/* Кнопки расшаривания */
#ya-share {
    position: fixed;
    left: 0px;
    top: 30px;
    width: 24px;
}

#ya-share a {
    background: none;
    padding: 0px;
    padding-bottom: 3px;
}

.ya-share2__popup {
    text-align: left;
    position: static;
}


.top-container {
    width: 960px;
    margin: 1px auto 0px;
}

header {
    text-align: center;
    border-bottom: 4px solid #ccc;
}

header nav {
    background-color: #296ABA;
    position: relative;
    top: 0px;
    line-height: 3em;
    z-index: 2;
}

header nav a {
    color: wheat;
    display: inline-block;
    font-size: 16px;
    width: 310px;
}

header nav a.active {
    color: white;
}

header h1 {
    background-color: #3475c5;
    color: #FFFFFF;
    padding: 10px 0px;
    margin: 0px;
    font-size: 40px;
    padding: 2px 0px 4px;
    letter-spacing: 1px;
    /*background: url('/i/bg.png') left center repeat-x #3475c5;*/
    /*height: 58px;*/
}

@media (max-width: 980px) {
    header h1 {
        font-size: 40px !important;
    }
}

header h1 a {
    color: white;
    text-decoration: none !important;
}

/* Просмотр ячейки */
.cell-view {
    background-color: #fff;

    color: #333;
    border: 1px solid #bbb;
    border-radius: 6px 6px 6px 6px;
    padding: 8px;
    /*max-width: 600px;*/
}

.cell-view img {
    float: left;
    padding: 0px;
    margin: 0px;
}

.cell-view img.progress {
    margin: 112px 56px 112px 56px;
}

.cell-view .content {
    margin: 0px;
    margin-left: 250px;
    text-align: left;
    position: relative;
    /*word-break: break-all;*/
}

.cell-view .content .date {
    color: #444;
    cursor: default;
    font-weight: bold;
    padding-bottom: 2px;
}

.cell-view .content .num {
    color: #bbb;
    cursor: default;
    top: 0px;
    right: 1px;
    font-weight: bold;
    position: absolute;
}


/*
    КАСТОМНЫЕ НАСТРОЙКИ ЯЧЕЙКИ
*/
/*Цитата*/
.cell-view .content .cit {

}

.cell-view .content .aut {
    font-weight: bold;
    font-style: italic;
    text-align: right;
    padding-right: 2px;
}
