html, body {
    text-align: center;
}

body {
    background-color: #F0F0F0;
    color: #333333;
    margin: 0px;
    min-width: 1080px; /*960+60*2*/
}

body, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.top-container {
    width: 960px;
    margin: 1px auto;
}

.nav-buttons {
    position: fixed;
    top: 6px;
    /*right: 430px;*/
    /*z-index: 999;*/
    width: 32px;
    display: none;
}

.nav-buttons a {
    margin: 3px 0px;
    display: inline-block;
}

.nav-buttons img:active {
    position: relative;
    top: 1px;
    left: 1px;
}


h1.head {
    background-color: #3475c5;
    color: #FFFFFF;
    padding: 10px 0px;
    margin: 0px;
    font-size: 50px;

    border-bottom: 4px solid #CCCCCC;
    /*background: url('/i/bg.png') left center repeat-x #3475c5;*/
    /*height: 58px;*/
}

h1.head a {
    color: white;
    text-decoration: none;
}

/* Просмотр ячейки */
.cell-view {
    background-color: #fff;

    color: #333;
    border: 1px solid #bbb;
    border-radius: 6px 6px 6px 6px;
    padding: 8px;
    /*max-width: 600px;*/
}

.cell-view img {
    float: left;
    padding: 0px;
    margin: 0px;
}

.cell-view img.progress {
    margin: 112px 56px 112px 56px;
}

.cell-view .content {
    margin: 0px;
    margin-left: 250px;
    text-align: left;
    /*word-break: break-all;*/
}

.cell-view .content .date {
    color: #444;
    font-weight: bold;
    padding-bottom: 2px;
}